*{
	margin: 0px;
	padding: 0px;
}
.nav{
	height:auto;
	width:100%;
	background-color:rgba(255,255,255,0.0);
	position:fixed;
	color: #800000;
	font-size: 2vw;
	font-family:Raleway, sans-serif;
}
.nav li{
	list-style-type: none;
	float: right;
	padding: 0.25% 0.5% 0.25% 0.5%;
	line-height: 2;
	margin:0.25% 0.5% 0.5% 0%;
}
.nav li:hover{
	cursor: default;
	background-color: #800000;
	margin-top: 0.25%;
}
.nav a:hover{
	color: #ffffff;
}
.nav a{
	text-decoration: none;
	color: #800000;
}
#main{
  height: auto;
  width: 100%;
}
.img{
  height: auto;
  width: 48%;
  float: left;
}
.img img{
  height: auto;
  width: 90%;
  margin: 35px 0px 20px 50px;
  border-radius: 100%;
}
.title{
  height: auto;
  width: 52%;
  float: right;
  text-align: center;
  font-size: 3vw;
  font-family:Raleway, sans-serif;
  color: #800000;

}
.title h1{
  padding: 200px 0px 0px 5px;
}
.title h2{
  padding: 0px 50px 80px 25px;
  font-size: 3vw;
  font-weight: normal;
}
