*{
	margin: 0px;
	padding: 0px;
}
.sub{
	height: 120px;
	width: 100%;
	text-align: center;
	color: maroon;
}
.signup{
	height: 300px;
	width: 30%;
	margin: 0px 100px 0px 420px;
	font-size: 24px;
	font-family:Verdana, Geneva, sans-serif;
	padding: 30px 50px 30px 60px;
}
.signup input{
	padding: 5px 100px 5px 100px;
}
.signup p{
	font-size: 20px;
}
.button{
	height: 120px;
	width: 55%;
	margin: 0px 100px 0px 250px;
	font-size: 22px;
	font-family:Verdana, Geneva, sans-serif;
}
